# Data Analys - Exploring SMHI's datasets
Inledande data analys av SMHIs väderdata från väderstation _Stockholm-Observatoriekullen_.

In [64]:
# Import necessary lib
import pandas as pd

In [29]:
# read CSV files
temp_h = pd.read_csv('MetroData/smhi_lufttemperatur_h.csv')
temp_12h = pd.read_csv('MetroData/smhi_lufttemperatur_minMax_12h.csv')
downfall_mm_h = pd.read_csv('MetroData/smhi_nederbördsmängd_h.csv')
downfall_type_12h  = pd.read_csv('MetroData/smhi_nederbördstyp_12h.csv')
humidity_h = pd.read_csv('MetroData/smhi_relativ_luftfuktighet_h.csv')

/var/folders/w0/pb8x4cmj0lz48d22c6b71j5w0000gn/T/ipykernel_54534/22967594.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_h = pd.read_csv('MetroData/smhi_lufttemperatur_h.csv')

## Tenperature Analysis

### Temp h
Investigate the dataframe's head

In [30]:
temp_h.head()

,Datum,Tid (UTC),Lufttemperatur,Kvalitet,Unnamed: 4,Tidsutsnitt:
0,1859-01-01,07:00:00,-1.8,G,NaN,Kvalitetskontrollerade historiska data (utom d...
1,1859-01-01,13:00:00,0.9,G,NaN,Tidsperiod (fr.o.m.) = 1859-01-01 00:00:00 (UTC)
2,1859-01-01,20:00:00,1.8,G,NaN,Tidsperiod (t.o.m.) = 2023-01-01 06:00:00 (UTC)
3,1859-01-02,07:00:00,2.0,G,NaN,Samplingstid = Ej angivet
4,1859-01-02,13:00:00,1.8,G,NaN,Kvalitetskoderna:

Investigate shape (rows, columns)

In [31]:
temp_h.shape

(202981, 6)

Check data types
(Objects usually = strings)

In [32]:
temp_h.dtypes

Datum              object
Tid (UTC)          object
Lufttemperatur    float64
Kvalitet           object
Unnamed: 4        float64
Tidsutsnitt:       object
dtype: object

Check out Kvalitet

In [33]:
temp_h.Kvalitet.value_counts()

G    202533
Y       448
Name: Kvalitet, dtype: int64

### Temp 12h
Investigate the dataframe's head

In [34]:
temp_12h.head()

,Datum,Tid (UTC),Lufttemperatur,Kvalitet,Lufttemperatur.1,Kvalitet.1,Unnamed: 6,Tidsutsnitt:
0,1961-01-01,18:00:00,-0.2,G,1.0,G,NaN,Kvalitetskontrollerade historiska data (utom d...
1,1961-01-02,18:00:00,-0.7,G,1.9,G,NaN,Tidsperiod (fr.o.m.) = 1961-01-01 00:00:00 (UTC)
2,1961-01-03,18:00:00,0.7,G,2.5,G,NaN,Tidsperiod (t.o.m.) = 2023-01-01 06:00:00 (UTC)
3,1961-01-04,18:00:00,0.4,G,2.8,G,NaN,Samplingstid = 12 timmar
4,1961-01-05,18:00:00,-0.3,G,3.0,G,NaN,Kvalitetskoderna:

In [66]:
# Nyaste datapunkten
Newst = temp_12h.Datum.max()

# äldsta datapunkten
Oldest = temp_12h.Datum.min()

print(f'Newst value: {Newst}, oldest value: {Oldest}')

Newst value: 2023-01-01, oldest value: 1961-01-01

## Downfall Analysis

### Downfall mm/h
Investigate the dataframe's head

In [35]:
downfall_mm_h.head()

,Datum,Tid (UTC),Nederbördsmängd,Kvalitet,Unnamed: 4,Tidsutsnitt:
0,NaN,NaN,NaN,NaN,NaN,Kvalitetskontrollerade historiska data (utom d...
1,NaN,NaN,NaN,NaN,NaN,Tidsperiod (fr.o.m.) = 2014-04-01 00:00:00 (UTC)
2,NaN,NaN,NaN,NaN,NaN,Tidsperiod (t.o.m.) = 2014-04-30 23:59:59 (UTC)
3,NaN,NaN,NaN,NaN,NaN,Samplingstid = 1 timme
4,NaN,NaN,NaN,NaN,NaN,Kvalitetskoderna:

In [36]:
downfall_mm_h.dtypes

Datum              float64
Tid (UTC)          float64
Nederbördsmängd    float64
Kvalitet           float64
Unnamed: 4         float64
Tidsutsnitt:        object
dtype: object

In [37]:
downfall_mm_h.shape

(13, 6)

In [38]:
downfall_mm_h.Nederbördsmängd.value_counts()

Series([], Name: Nederbördsmängd, dtype: int64)

Conclusion --> Empty dataset

### Downfall Type 12h
Investigate the dataframe's head

In [39]:
downfall_type_12h.head()

,Datum,Tid (UTC),Nederbörd,Kvalitet,Unnamed: 4,Tidsutsnitt:
0,2019-10-07,18:00:00,regn,Y,NaN,Kvalitetskontrollerade historiska data (utom d...
1,2019-10-12,06:00:00,regn,Y,NaN,Tidsperiod (fr.o.m.) = 2019-10-01 00:00:00 (UTC)
2,2019-10-14,06:00:00,regn,Y,NaN,Tidsperiod (t.o.m.) = 2023-01-01 06:00:00 (UTC)
3,2019-10-14,18:00:00,regn,Y,NaN,Samplingstid = 12 timmar
4,2019-10-17,06:00:00,regn,Y,NaN,Kvalitetskoderna:

In [40]:
downfall_type_12h.dtypes

Datum            object
Tid (UTC)        object
Nederbörd        object
Kvalitet         object
Unnamed: 4      float64
Tidsutsnitt:     object
dtype: object

In [41]:
downfall_type_12h.Nederbörd.value_counts()

regn                       469
duggregn                    93
snowfall                    77
regnskurar                  46
snöblandat regn             31
snöbyar                     11
snöhagel                     3
byar av snöblandat regn      2
småhagel                     2
kornsnö                      1
Name: Nederbörd, dtype: int64

--> Övervägande lablede data för olika typer av regn

Inventory of data set size

In [67]:
downfall_type_12h.shape

(735, 6)

In [65]:
# Nyaste datapunkten
Newst = downfall_type_12h.Datum.max()

# äldsta datapunkten
Oldest = downfall_type_12h.Datum.min()

print(f'Newst value: {Newst}, oldest value: {Oldest}')

Newst value: 2022-12-31, oldest value: 2019-10-07

--> Relativt litet dataset jämfört med övriga

## Humidity Analysis

### Humidity h
Investigate the dataframe's head